.Emma{
    height: 400px;
    object-fit: cover;
}
.img4{
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.map0{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.form0{
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}